/base_picture_sentence
/base_picture_words
/finish_picture_sentence
/finish_picture_words
/font
/fortune.csv
/fortune_teller_txt
/korean
/BoK_translation
/base_fortune_picture
/finish_fortune_picture
/.venv
.idea
__pycache__
.env